/* CSS files add styling rules to your content */

html {
  background-color: #00FF7F;
}

body {
  margin: 0;
  padding: 0;
}

h3 {
  font-family: "Lexend Peta", sans-serif;
  color: white;
}

h2 {
  font-family: "Lexend Peta", sans-serif;
  font-size: 39px;
  text-align: center;
  color: white;
}

p {
  font-family: "Lexend Peta", sans-serif;
  color: white;
}

#head {
  border-bottom: 2px solid white;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

h1 {
  font-size: 64px;
  font-family: 'Roboto Mono', monospace;
  color: white;
  text-align: center;
}
